.TodoItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 25px;
	border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
	list-style: none;
	width: 100%;
	font-size: 20px;
	background-color: #fff;
}

.todoText {
	font-size: 18px;
	font-weight: 400;
}

.todoText-check {
	text-decoration: line-through;
}

.buttonList{
	border: none;
	width: 30px;
	height: 30px;
	font-size: 20px;
	font-weight: 900;
	background-color: transparent;
	transition: .5s;

}

.circulo button:hover {
	color: 	#7FFF00;
	background-color: black;
	border-radius: 50%;	
	transform: scale(1.2);
}
.buttonDelete{
	font-weight: 400;
}
.buttonDelete:hover{
	color: red;
	background-color: black;
	border-radius: 50%;	
	transform: scale(1.2);

}
.lua{
	z-index: 3;
}