.todoItem, .todoItem-complete {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 25px;
	list-style: none;
	width: 100%;
	font-size: 20px;
	background-color: #fff;
	margin-bottom: 2px;
}
.todoItem-complete{
	background-color: #959595;
}

.todoItem:hover{
	box-shadow: inset 0px 0px 15px lightgrey;
}

.todoText {
	font-size: 18px;
	font-weight: 400;
}
.todoText-check {
	text-decoration: line-through;
}

.buttonList{
	border: none;
	width: 30px;
	height: 30px;
	font-size: 20px;
	font-weight: 900;
	background-color: transparent;
	transition: .5s;
	margin-right: 7px;

}
.buttonList:hover {
    box-shadow: 0px 1px 4px #393736;
	font-size: 22px;
	transform: scale(1.2);
	border-radius: 10px;

}
.circulo button:hover {
	color: 	#30B409;
	background-color: transparent;

}
.buttonDelete:hover{
	color: red;

}
.bottonSaveEdit:hover{
	color: #30B409;
}

.buttonEdit:hover{
	color:#109DC7 
}
.displayNone{
	display: none;
}
