.section-dates {
  width: 25vw;
  height: 100vh;
  background-color: aliceblue;
  padding: 40px 70px;
}
.section-dates-header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.section-dates .header-logo {
  width: 25px;
  height: 25px;
  background-color: #2a37a2;
}
.section-dates-header h3 {
  margin-left: 15px;
}

.section-reminders .reminders-title {
  display: flex;
  justify-content: space-between;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  font-size: 25px;
  margin-bottom: 25px;
}
.reminders-title button {
  border: none;
  color: #2a37a2;
  font-weight: bold;
  background-color: transparent;
}

.reminders-container {
  overflow: hidden;
}

.reminder-title span {
  font-size: 14px;
}
.reminder {
  border-radius: 20px;
  padding: 20px 30px;
  margin-bottom: 40px;
  background-color: #fff;
  display: flex;
  gap: 15px;
}
.reminder-info button {
  background-color: #2a37a2;
  color: #fff;
  margin-top: 10px;
  font-weight: 600;
  padding: 5px 10px;
  width: 35%;
  border: none;
  border-radius: 40px;
}
.reminder-info p {
  font-size: 15px;
  background-color: transparent;
  font-weight: 200;
  color: rgb(35, 35, 35);
  padding: 10px 0;
}
.reminder1 {
  width: 100%;
  height: 160px;
}
.icon {
  width: 25px;
  height: 25px;
  border-radius: 30%;
  background-color: #2a37a2;
}
.reminder-calendar {
  padding: 20px 0;
  box-sizing: border-box;
}
th {
  color: #2a37a2;
  text-align: center;
  padding-left: 7px;
}
td {
  padding: 7px;
  text-align: center;
}
.day {
  color: #fff;
  font-weight: 800;
  border-radius: 50%;
  background-color: #2a37a2;
}
.last-month {
  color: gray;
  font-weight: 100;
  font-size: 15px;
}
