p {
  display: flex;
  justify-content: flex-end;
  color: #2a37a2;
  font-size: 20px;
  font-weight: 900;
  padding: 10px 30px;
}
@media (max-width: 817px) {
  p {
    text-align: center;
    font-size: 15px;
  }
}
