
.todoCouter-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 25px;
	background: #fff;
	margin-top: 2px;
}

.items-left {	
	font-weight: 400;
	font-size: 12px;
}

.clear-btn {
	cursor: pointer;
	font-family: inherit;
	font-size: 15px;
	border: none;
	margin-left: 10px;
	background: transparent;
	font-weight: 400;
	transition: .5s;
}
.filter-btn{
	border: none;
	font-size: 13px;
	color: black;
	margin-left: 35px;
	height: inherit;
	background-color: transparent;
	font-weight: 900;
}
.filter-btn:hover{
	color: #109DC7;
}
.filter-btn-active{
	color: #109DC7;
}

.clear-btn:hover {
	font-weight: 600;
	color: red;
}

