* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 18px;
}
main {
  display: flex;
}
.section-main {
  width: 65vw;
  background-color: rgb(255, 255, 255);
  padding: 30px 100px;
}
.section-main h2 {
  font-size: 40px;
}
.section-main .days {
  color: #2a37a2;
}
@media (max-width: 1533px) {
  .section-main {
    height: 100vh;
  }
  .section-dates {
    padding: 40px 20px;
  }
  .reminder-calendar {
    display: none;
  }
  .widget-info {
    height: auto;
    margin-bottom: 0;
  }
  .widget-info .info-more {
    display: none;
  }
}


@media (max-width: 1250px) {
  .section-main {
    width: 100vw;
  }
  .section-dates,
  .section-chill {
    display: none;
  }
  main {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  main {
    margin: 0 auto;
  }
  .section-main {
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
  }
}
