:root {
  --main-color--: #2a37a2;
  --secundary-color--: aliceblue;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 18px;
}
main {
  display: flex;
}
.section-main {
  width: 65vw;
  background-color: rgb(255, 255, 255);
  padding: 30px 100px;
}
.section-main h2 {
  font-size: 40px;
}
.section-main .days {
  color: var(--main-color--);
}
.header-main-options {
  display: flex;
  justify-content: space-between;
}
.dinamic-buttons {
  width: 10%;
}

#toolbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 20px;
}
#toolbox li {
  display: inline-block;
  border-radius: 0.5em;
  height: 24px;
  width: 24px;
}

.color-selector {
  width: 10px;
  height: 10px;
  background-color: var(--main-color--);
}
.theme {
  background-color: var(--main-color--);
}
.theme-text {
  color: var(--main-color--);
}
.theme-background {
  background-color: var(--secundary-color--);
}
.theme-background-complete {
  background-color: var(--main-color--);
}

/* .yellow {
  background-color: gold;
}
.yellow-text {
  color: Gold;
}
.yellow-background {
  background-color: #fbfbfb;
}
.yellow-background-complete {
  background-color: #cdcaa8;
} */

.tooltip-theme {
  position: relative;
  display: inline-block;
}

.tooltip-theme .tooltip-theme-text {
  z-index: 1;
  color: #fff;
  width: 120px;
  margin-top: 40px;
  margin-left: -60px;
  padding: 5px 0;
  visibility: hidden;
  border-radius: 6px;
  position: absolute;
  background-color: rgba(49, 49, 49, 0.4);
}

.tooltip-theme:hover .tooltip-theme-text {
  transition: 1s;
  top: -5px;
  left: 105%;
  visibility: visible;
}

@media (max-width: 1533px) {
  .section-main {
    height: 100vh;
  }
  .section-dates {
    padding: 40px 20px;
  }
  .reminder-calendar {
    display: none;
  }
  .widget-info {
    height: auto;
    margin-bottom: 0;
  }
  .widget-info .info-more {
    display: none;
  }
}

@media (max-width: 1250px) {
  .section-main {
    width: 100vw;
  }
  .section-dates,
  .section-chill {
    display: none;
  }
  main {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  main {
    margin: 0 auto;
  }
  .section-main {
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
  }
}
